[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
requests = "*"
python-dotenv = "*"
tqdm = "*"

[requires]
python_version = "3.7"
